<html>
	<head>
	  <% include ../partials/head.ejs %>
	  <title>Chat | Home</title>
	</head>
	<body>
	  <% include ../partials/navbar.ejs %>
	  <h1>Home</h1>
	  <p>Simple Chat! Head to <a href="/chat">chat</a> and have fun with friends.</p>
	  <h3>What is this?</h3>
	  <p>This is a simple project for fun but as times go im planning to make it even better and add a login system, etc. if you have any ideas feel free to join my <a href="https://discord.gg/xAFbcWn">discord server</a></p>
	  <% include ../partials/scripts.ejs %>
	  <% include ../partials/footer.ejs %>
	</body>
</html>